################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPdotNETCoreMVC5.0/.vs/ASPdotNETCoreMVC5.0
/ASPdotNETCoreMVC5.0/ASPdotNETCoreMVC5.0/bin/Debug/net5.0
/ASPdotNETCoreMVC5.0/ASPdotNETCoreMVC5.0/obj
/ASPdotNETCoreMVC5.0/ASPdotNETCoreMVC5.0/wwwroot
/ASPdotNETCoreMVC5.0/ASPdotNETCoreMVC5.0/Migrations/20210201125250_AddedLanguageTable2.Designer.cs
/ASPdotNETCoreMVC5.0/ASPdotNETCoreMVC5.0/Migrations/20210201125250_AddedLanguageTable2.cs
