<footer class="border-top footer text-muted text-center ">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:ayd@gmail.com">ayd@gmail.com</a>
        *@

        <custom-email my-email="ayd.birol1@outlook.com"></custom-email>
    </div>
</footer>